test-results
test-dbs
node_modules
*.sqlite

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.development
.env.test
.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
